<html>
<head>
	<style type="text/css">
	</style>
	<title>Backbone Tutorial</title>
	<script type="text/javascript" src='./javascript/jquery-1.7.2.js'></script>
	<script type="text/javascript" src='./javascript/underscore.js'></script>
	<script type="text/javascript" src='./javascript/backbone.js'></script>
	<script type="text/javascript" src='./javascript/app.js'></script>
<link rel="stylesheet" type="text/css" href="./css/screen.css" />
</head>
<body>

<div id="contacts">
<header>
	<div id='filter'><label>Show me</label></div>
</header>
</div>
	<script id="contactTemplate" type="text/template">
    <img src="<%= photo %>" alt="<%= name %>" />
    <h1><%= name %> <span> <%= type %></span></h1>
    <div><%= address %></div>
    <dl>
        <dt>Tel:</dt> <dd> <%= tel %></dd>
        <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
    </dl>
</script>
</body>
</html>