<html>
<head>
	<style type="text/css">
	</style>
	<title>Backbone Tutorial</title>
	<script type="text/javascript" src='./javascript/jquery-1.7.2.js'></script>
	<script type="text/javascript" src='./javascript/underscore.js'></script>
	<script type="text/javascript" src='./javascript/backbone.js'></script>
	<script type="text/javascript" src='./javascript/app.js'></script>
<link rel="stylesheet" type="text/css" href="./css/screen.css" />
</head>
<body>

<div id="contacts">
<header>
	<div id='filter'><label>Show me</label></div>
	<a id="showForm" href="#">Add new contact</a>

	<form id='addContact' action='#'>
		<label for='photo'>Photo:</label><input id='photo' tyoe='file'/>
		<label for='type'>Type:</label><input id='type' tyoe='file'/>
		<label for='name'>Name:</label><input id='name' tyoe='file'/>
		<label for='address'>Address:</label><input id='address' tyoe='file'/>
		<label for='tel'>Tel:</label><input id='tel' tyoe='file'/>
		<label for='email'>Email:</label><input id='email' tyoe='file'/>
		<button id='add'>Add</button>
	</form>

</header>
</div>
	<script id="contactTemplate" type="text/template">
    <img src="<%= photo %>" alt="<%= name %>" />
    <h1><%= name %> <span> <%= type %></span></h1>
    <div><%= address %></div>
    <dl>
        <dt>Tel:</dt> <dd> <%= tel %></dd>
        <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
    </dl>
    <button class="delete">Delete</button>
</script>
</body>
</html>